<template>
  <div id="app" class="app">
  <div class="buttons">
    <button v-on:click="reset" id="logo-reset" v-bind:disabled="currentIndex === 0">RESET</button>
    <button v-on:click="undo" id="logo-undo" v-bind:disabled="currentIndex === 0 && !isResetted">UNDO</button>
    <button v-on:click="redo" id="logo-redo" v-bind:disabled="currentIndex === history.length - 1">REDO</button>
  </div>
  <div class="canvas">
    <canvas id="c1" width="800px" height="800px" />
  </div>
  </div>
</template>

<script src="./components/Canvas.js"></script>

<style src="./components/canvas.css"></style>
